<!-- @format -->
{% extends 'superadmin.html' %}
<!---->
{% load static %}
<!---->
{% block title %}Super Admin Dashboard{% endblock title %}
<!---->
{% block plugins_css %}
<link href="{% static 'node_modules/jqvmap/dist/jqvmap.min.css' %}" />
<link href="{% static 'node_modules/weathericons/css/weather-icons.min.css' %}" />
<link href="{% static 'node_modules/weathericons/css/weather-icons-wind.min.css' %}" />
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-bs4.min.css"
	integrity="sha512-ngQ4IGzHQ3s/Hh8kMyG4FC74wzitukRMIcTOoKT3EyzFZCILOPF0twiXOQn75eDINUfKBYmzYn2AA8DkAk8veQ=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
/>
{% endblock %}
<!---->
{% block content %}
<section class="section">
	<div class="section-header">
		<h1>Selamat Datang, Super Admin Dashboard</h1>
	</div>
	<div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="my-2">Tambah Akun Admin</h4>
                </div>
                <form id="bindingFrom" url="#" action="#">
                    
                    <div class="card-body">
                        <div class="form-group row mb-4">
                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">ID Nurse</label>
                            <div class="col-sm-12 col-md-7">
                                <input type="text" id="id" name="id_nurse" class="form-control" required placeholder="ID Nurse"/>
                                <!-- <input type="text" id="id_obj" name="id_obj" class="form-control" hidden /> -->
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Nama Rumah Sakit</label>
                            <div class="col-sm-12 col-md-7">
                                <input type="text" id="rs" name="rs" class="form-control" required placeholder="Nama Rumah Sakit"/>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Username</label>
                            <div class="col-sm-12 col-md-7">
                                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required />
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Password</label>
                            <div class="col-sm-12 col-md-7">
                                <input type="password" id="password" name="password" class="form-control" placeholder="Pasword" required />
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                            <div class="col-sm-12 col-md-7">
                                <button class="btn btn-success" type="button" onclick="binding()">Submit</button>
                                <input class="btn btn-danger ml-2" type="button" value="Close" onclick="tutup()">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
<!---->
{% block plugins_js %}
<script src="{% static 'node_modules/simpleweather/jquery.simpleWeather.min.js' %}"></script>
<script src="{% static 'node_modules/chart.js/dist/chart.min.js' %}"></script>
<script src="{% static 'node_modules/jqvmap/dist/jquery.vmap.min.js' %}"></script>
<script src="{% static 'node_modules/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-bs4.min.js"
	integrity="sha512-ZESy0bnJYbtgTNGlAD+C2hIZCt4jKGF41T5jZnIXy4oP8CQqcrBGWyxNP16z70z/5Xy6TS/nUZ026WmvOcjNIQ=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
></script>
<script src="{% static 'node_modules/chocolat/dist/js/jquery.chocolat.min.js' %}"></script>
{% endblock %}
<!---->
{% block page_js %}
<script src="{% static 'assets/js/page/index-0.js' %}"></script>
{% endblock %}
