<!-- @format -->
{% extends 'superadmin.html' %}
<!---->
{% load static %}
<!---->
{% block title %}Super Admin Dashboard{% endblock title %}
<!---->
{% block plugins_css %}
<link href="{% static 'node_modules/jqvmap/dist/jqvmap.min.css' %}" />
<link href="{% static 'node_modules/weathericons/css/weather-icons.min.css' %}" />
<link href="{% static 'node_modules/weathericons/css/weather-icons-wind.min.css' %}" />
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-bs4.min.css"
	integrity="sha512-ngQ4IGzHQ3s/Hh8kMyG4FC74wzitukRMIcTOoKT3EyzFZCILOPF0twiXOQn75eDINUfKBYmzYn2AA8DkAk8veQ=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
/>
{% endblock %}
<!---->
{% block content %}
<section class="section">
	<div class="section-header">
		<h1>Selamat Datang, Super Admin Dashboard</h1>
	</div>
	<div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="my-2">Tambah Rekaman</h4>
                </div>
                <form action="#" method="POST">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group row mb-4">
                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">ID Pasien</label>
                            <div class="col-sm-12 col-md-7">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="" aria-label="" name="id_pasien" id="id_pasien">
                                    <div class="input-group-append">
                                      <button class="btn btn-primary" type="button" onclick="cekid_pasien()">Button</button>
                                    </div>
                                  </div>
                                  <p class="my-0" id="nama_lengkap" name= ""hidden>Nama Lengkap</p>

                                <!-- <input type="text" id="id_obj" name="id_obj" class="form-control" hidden /> -->
                            </div>
                        </div>
                        <!-- <div class="form-group row mb-4">
                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Nama Lengkap</label>
                            <div class="col-sm-12 col-md-7">
                                <div class="input-group mb-3">
                                  <input type="text" class="form-control" placeholder="" aria-label="" name="nama_lengkap" id="nama_lengkap" read>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-group row mb-4">
                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Jenis Fisiologis</label>
                            <div class="col-sm-12 col-md-7">
                                <select name="jenis_fisiologis" id="jenis_fisiologis" class="form-control">
                                    <option value="none" selected disabled hidden>Pilih Jenis Fisiologis</option>
                                    <option value="Otak - EEG">Otak - EEG</option>
                                    <option value="Jantung - ECG">Jantung - ECG</option>
                                  </select>
                                <div class="invalid-feedback" id="label-peringatan">Please fill in your Jenis Fisiologis</div>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">File Fisiologis</label>
                            <div class=" col-sm-12 col-md-7">
                                <div class="input-group mb-3">
                                    <div class="custom-file">
                                        <input type="file" class="choose custom-file-input col-10" id="file_predict" onchange="coba()">
                                        <label class="custom-file-label" for="customFile" id="label">Choose file</label>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" onclick="predict()">Button</button>
                                    </div>    
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Hasil Deteksi</label>
                            <div class="col-sm-12 col-md-7">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="" aria-label="" name="result" id="result" readonly>
                                  </div>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                            <div class="col-sm-12 col-md-7">
                                <button class="btn btn-success" type="submit" >Submit</button>
                                <input class="btn btn-danger ml-2" type="button" value="Close" onclick="tutup()">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
<!---->
{% block plugins_js %}
<script src="{% static 'node_modules/simpleweather/jquery.simpleWeather.min.js' %}"></script>
<script src="{% static 'node_modules/chart.js/dist/chart.min.js' %}"></script>
<script src="{% static 'node_modules/jqvmap/dist/jquery.vmap.min.js' %}"></script>
<script src="{% static 'node_modules/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-bs4.min.js"
	integrity="sha512-ZESy0bnJYbtgTNGlAD+C2hIZCt4jKGF41T5jZnIXy4oP8CQqcrBGWyxNP16z70z/5Xy6TS/nUZ026WmvOcjNIQ=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
></script>
<script src="{% static 'node_modules/chocolat/dist/js/jquery.chocolat.min.js' %}"></script>
{% endblock %}
<!---->
{% block page_js %}
<script src="{% static 'assets/js/page/index-0.js' %}"></script>
{% endblock %}
