<!-- @format -->
{% load static %}
<div class="main-sidebar sidebar-style-2">
	<div id="sidebar-wrapper">
		<div class="sidebar-brand">
			<a href="index.html">Sleep Well</a>
		</div>
		<ul class="sidebar-menu">
			<li class="menu-header">Dashboard</li>
			<li class="nav-item dropdown active">
				<a class="nav-link" href="{% url 'dashboard-pasien' %}"><i class="fas fa-fire"></i><span>Dashboard</span></a>
			</li>

			<li class="nav-item dropdown">
				<a href="#" class="nav-link has-dropdown" data-toggle="dropdown">
					<i class="fas fa-columns"></i> <span>Manage Account</span>
				</a>
				<ul class="dropdown-menu">
					<li class="">
						<a class="nav-link" style="cursor: pointer;" onclick="edit()">Edit Account</a>
					</li>
				</ul>
			</li>
			<li class="">
				<a href="" class="nav-link has-dropdown"><i class="fas fa-file-waveform"></i><span>Rekaman Analisa</span></a>
				<ul class="dropdown-menu">
					<li class="">
						<a class="nav-link" onclick="deteksi()" style="cursor: pointer;">Riwayat Laporan</a>
					</li>
				</ul>
			</li>

			<!-- <li class="menu-header">Starter</li>
			<li class="nav-item dropdown">
				<a href="#" class="nav-link has-dropdown" data-toggle="dropdown">
					<i class="fas fa-columns"></i> <span>Layout</span>
				</a>
				<ul class="dropdown-menu">
					<li class="">
						<a class="nav-link" href="{% url 'layout-default-layout' %}">Default Layout</a>
					</li>
					<li class="">
						<a class="nav-link" href="">Transparent Sidebar</a>
					</li>
					<li class="">
						<a class="nav-link" href="">Top Navigation</a>
					</li>
				</ul>
			</li>

			<li class="">
				<a class="nav-link" href="{% url 'blank-page' %}"
					><i class="far fa-square"></i> <span>Blank Page</span></a
				>
			</li>

			<li class="nav-item dropdown">
				<a href="#" class="nav-link has-dropdown"><i class="fas fa-th"></i> <span>Bootstrap</span></a>
				<ul class="dropdown-menu">
					<li class="">
						<a class="nav-link" href="{% url 'bootstrap-alert' %}">Alert</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'bootstrap-badge' %}">Badge</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'bootstrap-breadcrumb' %}">Breadcrumb</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'bootstrap-buttons' %}">Buttons</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'bootstrap-card' %}">Card</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'bootstrap-carousel' %}">Carousel</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'bootstrap-collapse' %}">Collapse</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'bootstrap-dropdown' %}">Dropdown</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'bootstrap-form' %}">Form</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'bootstrap-list-group' %}">List Group</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'bootstrap-media-object' %}">Media Object</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'bootstrap-modal' %}">Modal</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'bootstrap-nav' %}">Nav</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'bootstrap-navbar' %}">Navbar</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'bootstrap-pagination' %}">Pagination</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'bootstrap-popover' %}">Popover</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'bootstrap-progress' %}">Progress</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'bootstrap-table' %}">Table</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'bootstrap-tooltip' %}">Tooltip</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'bootstrap-typography' %}">Typography</a>
					</li>
				</ul>
			</li> -->

			<!-- <li class="menu-header">Stisla</li>
			<li class="nav-item dropdown">
				<a href="#" class="nav-link has-dropdown"><i class="fas fa-th-large"></i> <span>Components</span></a>
				<ul class="dropdown-menu">
					<li class="">
						<a class="nav-link" href="{% url 'components-article' %}">Article</a>
					</li>
					<li class="">
						<a class="nav-link beep beep-sidebar" href="{% url 'components-avatar' %}">Avatar</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'components-chat-box' %}">Chat Box</a>
					</li>
					<li class="">
						<a class="nav-link beep beep-sidebar" href="{% url 'components-empty-state' %}">Empty State</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'components-gallery' %}">Gallery</a>
					</li>
					<li class="">
						<a class="nav-link beep beep-sidebar" href="{% url 'components-hero' %}">Hero</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'components-multiple-upload' %}">Multiple Upload</a>
					</li>
					<li class="">
						<a class="nav-link beep beep-sidebar" href="{% url 'components-pricing' %}">Pricing</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'components-statistic' %}">Statistic</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'components-tab' %}">Tab</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'components-table' %}">Table</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'components-user' %}">User</a>
					</li>
					<li class="">
						<a class="nav-link beep beep-sidebar" href="{% url 'components-wizard' %}">Wizard</a>
					</li>
				</ul>
			</li> -->

			<!-- <li class="nav-item dropdown">
				<a href="#" class="nav-link has-dropdown"><i class="far fa-file-alt"></i> <span>Forms</span></a>
				<ul class="dropdown-menu">
					<li class="">
						<a class="nav-link" href="{% url 'forms-advanced-form' %}">Advanced Form</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'forms-editor' %}">Editor</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'forms-validation' %}">Validation</a>
					</li>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a href="#" class="nav-link has-dropdown"
					><i class="fas fa-map-marker-alt"></i> <span>Google Maps</span></a
				>
				<ul class="dropdown-menu">
					<li><a href="a">Advanced Route</a></li>
					<li><a href="a">Draggable Marker</a></li>
					<li><a href="a">Geocoding</a></li>
					<li><a href="a">Geolocation</a></li>
					<li><a href="a">Marker</a></li>
					<li><a href="a">Multiple Marker</a></li>
					<li><a href="a">Route</a></li>
					<li><a href="a">Simple</a></li>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a href="#" class="nav-link has-dropdown"><i class="fas fa-plug"></i> <span>Modules</span></a>
				<ul class="dropdown-menu">
					<li class="">
						<a class="nav-link" href="{% url 'modules-calendar' %}">Calendar</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'modules-chartjs' %}">ChartJS</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'modules-datatables' %}">DataTables</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'modules-flag' %}">Flag</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'modules-font-awesome' %}">Font Awesome</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'modules-ion-icons' %}">Ion Icons</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'modules-owl-carousel' %}">Owl Carousel</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'modules-sparkline' %}">Sparkline</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'modules-sweet-alert' %}">Sweet Alert</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'modules-toastr' %}">Toastr</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'modules-vector-map' %}">Vector Map</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'modules-weather-icon' %}">Weather Icon</a>
					</li>
				</ul>
			</li>
			<li class="menu-header">Pages</li>
			<li class="nav-item dropdown">
				<a href="#" class="nav-link has-dropdown"><i class="far fa-user"></i> <span>Auth</span></a>
				<ul class="dropdown-menu">
					<li class="">
						<a href="{% url 'auth-forgot-password' %}">Forgot Password</a>
					</li>
					<li class="">
						<a href="{% url 'auth-login' %}">Login</a>
					</li>
					<li class="">
						<a class="beep beep-sidebar" href="{% url 'auth-login2' %}">Login 2</a>
					</li>
					<li class="">
						<a href="{% url 'auth-register' %}">Register</a>
					</li>
					<li class="">
						<a href="{% url 'auth-reset-password' %}">Reset Password</a>
					</li>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a href="#" class="nav-link has-dropdown"><i class="fas fa-exclamation"></i> <span>Errors</span></a>
				<ul class="dropdown-menu">
					<li class="">
						<a class="nav-link" href="{% url 'error-403' %}">403</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'error-404' %}">404</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'error-500' %}">500</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'error-503' %}">503</a>
					</li>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a href="#" class="nav-link has-dropdown"><i class="fas fa-bicycle"></i> <span>Features</span></a>
				<ul class="dropdown-menu">
					<li class="">
						<a class="nav-link" href="{% url 'features-activities' %}">Activities</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'features-post-create' %}">Post Create</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'features-post' %}">Posts</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'features-profile' %}">Profile</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'features-settings' %}">Settings</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'features-setting-detail' %}">Setting Detail</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'features-tickets' %}">Tickets</a>
					</li>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a href="#" class="nav-link has-dropdown"><i class="fas fa-ellipsis-h"></i> <span>Utilities</span></a>
				<ul class="dropdown-menu">
					<li class="">
						<a href="{% url 'utilities-contact' %}">Contact</a>
					</li>
					<li class="">
						<a class="nav-link" href="{% url 'utilities-invoice' %}">Invoice</a>
					</li>
					<li class="">
						<a href="{% url 'utilities-subscribe' %}">Subscribe</a>
					</li>
				</ul>
			</li>
			<li>
				<a class="nav-link" href="{% url 'credits' %}"
					><i class="fas fa-pencil-ruler"> </i> <span>Credits</span>
				</a>
			</li>

			<div class="hide-sidebar-mini mt-4 mb-4 p-3">
				<a href="https://getstisla.com/docs" class="btn btn-danger btn-lg btn-block btn-icon-split">
					<i class="fas fa-check-circle"></i> SELESAI
				</a>
				<a href="https://getstisla.com/docs" class="btn btn-primary btn-lg btn-block btn-icon-split">
					<i class="fas fa-rocket"></i> Documentation
				</a>
			</div> -->
		</ul>
	</div>
</div>
